/* eslint-disable no-console */
/* eslint-disable */

<template>
  <div id="app">
    <link href="http://www.fontonline.ir/css/BVahidBold.css" rel="stylesheet" type="text/css" />
    <link href="http://www.fontonline.ir/css/BNazanin.css" rel="stylesheet" type="text/css" />
    <b-container class="bv-example-row">
      <b-row align-h="around">
        <b-col col="3" class="titr">
          <img src="../head.png" class="header" />
        </b-col>
        <b-col col="2" class="aut">
          <img class="logo" src="../aut_logo.png" />
          <div>Amirkabir University of Technology</div>
          <div>(Tehran Polytechnic)</div>
        </b-col>
      </b-row>
    </b-container>

    <div class="back">
      <div class="info">
        <b-container class="bv-example-row">
        <b-row>
           <b-col>
          <button class="colbutton" @click="openManualModal=true">Manual</button>
          </b-col>
          <b-col>
          <button class="colbutton" @click="openCompareModal=true">
            <span v-if="doingOneComapre===false">Compare One Paper</span>
            <b-spinner v-if="doingOneComapre===true" variant="warning" label="Spinning"></b-spinner>
          </button>
          </b-col>
          <b-col>
          <button class="colbutton" @click="setParams">Select Parameters</button>
          </b-col>
          <b-col>
          <button class="colbutton" @click="updateJournal">
            <span v-if="updateSpin===false">Update Journal Articles</span>
            <b-spinner v-if="updateSpin===true" variant="warning" label="Spinning"></b-spinner>
          </button>
          </b-col>
        </b-row>
        </b-container>

        <div class="name">
          <div class="head">Enter Scholar's Name</div>
          <input v-model="scholarName" placeholder="insert name" />
        </div>
        <div class="mail">
          <div class="head">Enter Scholar's Email</div>
          <input v-model="scholarEmail" type="email" placeholder="insert email" />
        </div>
        <div class="link">
          <div class="head">Enter Scholar's Google Scholar Profile</div>
          <input v-model="scholarLink" placeholder="insert Link" />
        </div>
        <button v-if="spin===false && saved===false && sub===true" class="button" @click="submit">
          <span>Submit</span>
        </button>
        <button v-if="spin===true || saved===true" class="button" @click="stopit">
          <span>Cancel</span>
        </button>
        <br />
        <b-progress
          v-if="spin===true"
          :value="value"
          :max="max"
          variant="warning"
          show-progress
          animated
        ></b-progress>
        <b-spinner v-if="saved===true" variant="warning" label="Spinning"></b-spinner>

        <paramSetter
          v-if="showparamset"
          v-bind:param="param"
          v-bind:showparamset="showparamset"
          @close="showparamset = false;param = $event"
        ></paramSetter>

        <compareOne
          v-if="openCompareModal"
          v-bind:oneArticleTitle="oneArticleTitle"
          v-bind:oneArticleReferences="oneArticleReferences"
          v-bind:oneArticleEmail="oneArticleEmail"
          v-bind:oneArticleKeywords="oneArticleKeywords"
          v-bind:showModal="openCompareModal"
          @close="openCompareModal = false; doingOneComapre = false"
          @ok="compareOne($event);openCompareModal = false;"
        >
        </compareOne>

        <selectModal
          v-if="showselectModal"
          v-bind:msg="allArticles"
          v-bind:showModal="showselectModal"
          v-bind:selected="selected"
          @close="showselectModal = false; saved = false; spin===false"
          @ok="emailModal()"
          @update="selected = $event"
        >
        </selectModal>

        <emailMessage
          v-if="showModal"
          v-bind:msg="msg"
          v-bind:showModal="showModal"
          @ok="
            submitEmail()
          "
          @close="showModal = false; saved= false; spin===false"
          @update="msg = $event"
        >{{ msg }}</emailMessage>

        <manual
          v-if="openManualModal"
          @close="openManualModal = false;"
        ></manual>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import emailMessage from "./components/emailMessage";
import paramSetter from "./components/paramSetter.vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import selectModal from "./components/selectModal";
import compareOne from "./components/compareOne";
import manual from "./components/manual";

export default {
  name: "app",
  components: {
    emailMessage,
    paramSetter,
    selectModal,
    compareOne,
    manual
  },
  data() {
    return {
      scholarEmail: "",
      scholarLink: "",
      scholarName: "",
      submited: false,
      showModal: false,
      msg: "fdfdfd",
      spin: false,
      fail: false,
      err: "",
      showparamset: false,
      param: {
        referenceParam: 1,
        keywordParam: 1
      },
      value: 0.8,
      max: 100,
      interval: "",
      prog: 0,
      count: 0,
      saved: false,
      stop: false,
      user_id: "",
      sub: true,
      upJournal: false,
      jourUpdated: false,
      failupdate: false,
      showselectModal: false,
      allArticles: "fddf",
      selected:[],
      updateSpin: false,
      oneArticleLink : "",
      openCompareModal: false,
      doingOneComapre : false,
      openManualModal:false,
      oneArticleReferences:"",
      oneArticleEmail: "",
      oneArticleTitle:"",
      oneArticleKeywords: ""
    };
  },
  methods: {
    async addScholar(payload) {
      this.stop = false;
      this.sub = false;
      this.makeToast("Please wait", "primary");
      this.interval = setInterval(this.getProgress, 3000);

      const path = process.env.VUE_APP_API_BASE_URL + "/scholar";
      const postres = await axios({
        method: "post",
        url: path,
        data: payload
      }).catch(error => {
        console.log(error)
        this.fail = true;
        this.makeToast("Error while finding similar articles", "danger");
        this.stopit();
      });
      if (postres.data["form"] === false) {
        this.fail = true;
        this.makeToast("Please insert Google Scholar profile", "danger");
        this.stopit();
      }

      clearInterval(this.interval);
      if (this.fail === false) {
        this.submited = true;
        this.makeToast("Similar Articles have been successfully found", "success");
        this.saved = false;
        this.sub = true;
      }
      this.submited = true;
      this.selectmodal()
    },
    sendEmail(data) {
      if(this.scholarEmail!=="") {
          const post_path =
              process.env.VUE_APP_API_BASE_URL +
              "/recommended?scholar=" +
              encodeURIComponent(this.scholarLink);
          axios({
              method: "post",
              url: post_path,
              data: data
          });
          this.makeToast("Email has been successfully sent", "success");
      }
      if(this.oneArticleEmail!=="") {
             const post_path =
              process.env.VUE_APP_API_BASE_URL +
              "/sendEmailsolo";
          axios({
              method: "post",
              url: post_path,
              data: data
          });
          this.makeToast("Email has been successfully sent", "success");
      }
    },
    submitEmail() {
      this.showModal = false;
      let data = {}
      if(this.scholarEmail!=="") {
           data = {
              scholarEmail: this.scholarEmail,
              scholarName: this.scholarName,
              data: this.msg
          }
      }
      if(this.oneArticleEmail!=="") {
           data = {
              scholarEmail: this.oneArticleEmail,
              data: this.msg
          }
      }
      this.sendEmail(data);
      this.stopit()
    },
    submit() {
      const payload = {
        scholarEmail: this.scholarEmail,
        scholarLink: this.scholarLink,
        scholarName: this.scholarName,
        parameters: this.param
      };
      this.addScholar(payload);
    },
    setParams() {
      this.showparamset = true;
    },
    makeToast(text, variant) {
      this.toastCount++;
      this.$bvToast.toast(`${text}`, {
        variant: variant,
        autoHideDelay: 50000,
        // noAutoHide:true,
        toaster: "b-toaster-bottom-right"
      });
    },
    getProgress() {
      if (this.stop === false) {
        const path =
          process.env.VUE_APP_API_BASE_URL +
          "/progress?scholar=" +
          encodeURIComponent(this.scholarLink);
        axios({
          method: "get",
          url: path
        }).then(response => {
          this.value = response.data["var"];
          this.saved = response.data["saved"];
          this.spin = response.data["spin"];
        });
      }
    },
    stopit() {
      this.spin = false;
      this.saved = false;
      this.count = 0;
      this.prog = 0;
      this.stop = true;
      this.sub = true;
      clearInterval(this.interval);
      axios({
        method: "post",
        url:
          process.env.VUE_APP_API_BASE_URL +
          "/progress?scholar=" +
          encodeURIComponent(this.scholarLink),
        data: {
          count: this.count,
          prog: this.prog,
          stop: this.stop,
          saved: this.saved,
          spin: this.spin
        }
      });
    },
    async updateJournal(){
        this.updateSpin = true
        this.upJournal = true;
        this.makeToast("Updating Journal Articles", "primary");
        await axios({
        method: "post",
        url:
          process.env.VUE_APP_API_BASE_URL +
          "/updatejournal",
        data: {
          update: this.upJournal,
        }
      }).catch(error => {
        this.makeToast("Error while Updating", "danger");
        this.failupdate = true;
        this.stopit();
      });
        if (this.failupdate === false) {
            this.upJournal = false;
            this.jourUpdated = true
        }
        this.updateSpin = false

    },
    async selectmodal() {
        const path =
          process.env.VUE_APP_API_BASE_URL +
          "/selectModal?scholar=" +
          encodeURIComponent(this.scholarLink);
       let res = await axios({
          method: "get",
          url: path
        }).catch(error => {
        this.makeToast("No Similar Article Found", "danger");
        this.fail = true;
        this.stopit();
      });
        if (res.data[0] === "مقاله‌ی مشابهی یافت نشد") {
        this.makeToast("No Similar Article Found", "danger");
        this.stopit();
      }
       this.allArticles = res.data.recom;
       this.showselectModal = true;
       this.selected=[]
      },
       async emailModal() {
        const modalPath =
        process.env.VUE_APP_API_BASE_URL +
        "/recommended?scholar=" +
        encodeURIComponent(this.scholarLink);
      const response = await axios({
        method: "get",
        url: modalPath
      })

      console.log(this.selected)
      let recom = this.selected.map(x => x['Suggested papers published in AJEE'])
      let uniqueRecom = [...new Set(recom)];
      let layoutedMsg = [];
        for (let i = 0; i < uniqueRecom.length; i++) {
          let j = i + 1;
          uniqueRecom[i] = "\n\n" + j + "- " + uniqueRecom[i];
          layoutedMsg.push(uniqueRecom[i]);
        }
        if(this.scholarName!=="") {
            this.msg =
                "Dear " + this.scholarName + "\n\nWe found these articles from the AUT Journal of Electrical Engineering (AUTJEE) which match your research interests:" +
                layoutedMsg + "\n\nSincerely,\nEditorial Office, AUT Journal of Electrical Engineering"
        }
        else{
             this.msg =
                "Dear scholar \n\nWe found these articles from the AUT Journal of Electrical Engineering (AUTJEE) which match your research interests:" +
                layoutedMsg + "\n\nSincerely,\nEditorial Office, AUT Journal of Electrical Engineering";
        }
        this.showselectModal = false;
        this.showModal = true;
        this.saved = false;

      this.spin = false;
      },
    async compareOne(args) {
        this.oneArticleTitle = args.title
        this.oneArticleEmail = args.email
        this.oneArticleReferences = args.refs
        this.oneArticleKeywords = args.keys
        this.doingOneComapre = true
        this.makeToast("Finding similar articles", "primary");
      const post_path =
        process.env.VUE_APP_API_BASE_URL +
        "/comparesolo"
      let recom = await axios({
        method: "post",
        url: post_path,
        data: {
            articleTitle: this.oneArticleTitle,
            articleAuthorEmail: this.oneArticleEmail,
            articleReferences: this.oneArticleReferences,
            articleKeywords: this.oneArticleKeywords,
            param: this.param
        }}).catch(error => {
        this.makeToast("No Similar Article Found", "danger");
        this.doingOneComapre = false;
      })
      console.log(recom);
      this.openCompareModal = false;
      if(recom.data['stat'] === "success") {
          this.allArticles = recom.data['recom'];
          this.showselectModal = true;
          this.selected = [];
          this.doingOneComapre = false
      }
    },
  },
  watch: {
    spin: function() {
      if (this.spin === true) {
        this.makeToast("Saving scholar's paper", "primary");
      }
    },
    saved: function() {
      if (this.saved === true) {
        this.makeToast("Finding similar articles", "primary");
      }
    },
     jourUpdated: function() {
      if (this.jourUpdated === true) {
        this.makeToast("Database updated successfully", "success");
      }
    },
  },
  mounted: function () {
      let today = new Date();
      let day = today.getDate();
      let hour = today.getHours();
      let minute = today.getMinutes()
      console.log(today)
      if (day === 1 && hour === 0 && minute === 0 ){
          this.updateJournal()
      }
  }
};
</script>

<style>
@import url(//db.onlinewebfonts.com/c/50e9084d51fca72d0b7b32dc11e54eab?family=IRAN);

body {
  background-color: #007bc1;
  margin: 0%;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 20px;
}
.header {
  display: inline-block;
}
.titr {
  display: block;
}
.logo {
  width: 20%;
}
.titr {
  margin-left: 32%;
  float: left;
  text-align: center;
}
.aut {
  color: white;
  width: 12%;
  float: right;
  font-weight: 800;
  font-size: 10px;
}
.info {
  display: inline-block;
  color: whitesmoke;
}
.back {
  background-image: url("../back.png");
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  display: inline-block;
  z-index: -1;
  padding: 0.2% 0;
  margin: 2% 0;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}
.head {
  direction: rtl;
  font-weight: bold;
  margin: 2% 0 2%;
  font-family: IRAN;
}
input {
  width: 93%;
  padding: 10px;
  border-radius: 8px;
  border: 1px;
}
.button {
  margin: 8%;
  padding: 4%;
  border-radius: 8px;
  border: solid 2px #007bc1;
  cursor: pointer;
  width: 44%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffe31b;
  font-family: IRAN;
}

.colbutton{
  margin: 8%;
  padding: 4%;
  border-radius: 8px;
  border: solid 2px #007bc1;
  cursor: pointer;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffe31b;
  font-family: IRAN;
    height: 70%;
  font-size: 0.8em;
}
.bv-example-row .container {
  margin: 0;
}
</style>
