<template>
  <div id="app">
    <modal v-if="showModal" @close="showModal = false">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-body">
                <slot name="body">
                 <div class="link">
                  <div class="head">Enter Article Info</div>
                  <input class="linkinja" v-model="oneArticleTitle" placeholder="insert Title"/>
                  <input class="linkinja" v-model="oneArticleEmail" placeholder="insert Email"/>
                  <input class="linkinja" v-model="oneArticleReferences" placeholder="insert References"/>
                  <input class="linkinja" v-model="oneArticleKeywords" placeholder="insert Keywords"/>
                 </div>
              <div class="modal-footer">
                <slot name="footer">
                  <b-button
                    variant="outline-primary"
                    class="modal-default-button-close"
                    @click="$emit('close')"
                  >Cancel</b-button>
                  <b-button
                    variant="outline-success"
                    class="modal-default-button"
                    @click="$emit('ok',{title: oneArticleTitle, email: oneArticleEmail, refs: oneArticleReferences, keys: oneArticleKeywords})"
                  >Submit</b-button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </modal>
  </div>
</template>

<script>
import { BButton } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  name: "emailMassage",
  components: {
    BButton
  },
  props: {
    oneArticleTitle: String,
    oneArticleReferences: String,
    oneArticleEmail: String,
    oneArticleKeywords: String,
    showModal: Boolean
  },
  methods: {
    layout() {
      // eslint-disable-next-line no-console
      console.log("ffdfdfdfd");
      let layoutedMsg = [];
      for (let item of this.msg) {
        // eslint-disable-next-line no-console
        // item = item.replace(",", "");
        item = "\n" + item;
        layoutedMsg.push(item);
      }
      // eslint-disable-next-line no-console
      console.log(layoutedMsg);
      this.msg = layoutedMsg;
    }
  }
};
</script>

<style>
@import url(//db.onlinewebfonts.com/c/50e9084d51fca72d0b7b32dc11e54eab?family=IRAN);

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
textarea {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  border-radius: 8px;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 34px 30px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  width: 41%;
}
.modal-header {
  direction: ltr;
  font-family: IRAN;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-body {
  margin: 20px 0;
}
.modal-default-button {
  float: right;
}

.modal-footer {
  padding: 2%;
  display: flex;
  justify-content: space-around;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.linkinja{
  border: solid 1px gray;
  margin: 1%;
}

</style>

