<template xmlns="http://www.w3.org/1999/html">
  <div id="app">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="manual-body">
              <slot name="body">
               1- Click on "Select Parameters" button and insert the minimum number of common references and keywords
              <br>
               2- Fill the form with scholar's information
              <br>
               3- Click on "Submit" button and wait for the recommended articles to be found
              <br>
               4- Check the recommended articles list and choose articles between them and press "confirm"
              <br>
               4- Check and edit (if needed) the email text and press "send" to send the email text to scholar's email
              <br>
               * You can Also Update Journal articles in database by clicking on "Update Journal Articles"
              <br>
               ** You can find similar articles to one specific article by entering the article link in "Compare One Article" section
              </slot>
            </div>
            <div>
            <b-button
                    variant="outline-primary"
                    class="modal-default-button-close"
                    @click="$emit('close')"
                  >Close</b-button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { BFormInput, BButton } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  name: "emailMassage",
  components: {
    BFormInput,
    BButton
  },
  props: {
    param: {
      referenceParam: Number,
      keywordParam: Number
    },
    showparamset: Boolean
  },
};
</script>

<style>
@import url(//db.onlinewebfonts.com/c/50e9084d51fca72d0b7b32dc11e54eab?family=IRAN);

.manual-body {
  text-align: left;
  font-family: IRAN;
  font-size: 0.9em;
  padding: 2%;
  margin: 1%;
}
.modal-container {
  border-radius: 8px !important;
  padding: 1% 2% 3% 2% !important;
}
.f-input {
  margin: 2%;
}
</style>

<button class="colbutton" @click="openManualModal=true">Manual</button>

 <manual v-if="openCompareModal"
        @close="showselectModal = false;"
        > </manual>