<template>
  <div id="app">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-body">
              <slot name="body">
                <div class="f-input">
                  <div>Please insert references parameter</div>
                  <b-form-input class="m-1" type="number" min="0.00" v-model="param.referenceParam"></b-form-input>
                </div>
                <div class="f-input">
                  <div>Please insert keywords parameter</div>
                  <b-form-input class="m-1" type="number" min="0.00" v-model="param.keywordParam"></b-form-input>
                </div>
              </slot>
            </div>
            <div>
              <b-button
                variant="outline-success"
                class="modal-default-button"
                @click="$emit('close',param)"
              >Submit</b-button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { BFormInput, BButton } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  name: "emailMassage",
  components: {
    BFormInput,
    BButton
  },
  props: {
    param: {
      referenceParam: Number,
      keywordParam: Number
    },
    showparamset: Boolean
  },
};
</script>

<style>
@import url(//db.onlinewebfonts.com/c/50e9084d51fca72d0b7b32dc11e54eab?family=IRAN);

.modal-body {
  font-family: IRAN;
  font-size: 0.9em;
  padding: 2%;
  margin: 1%;
}
.modal-container {
  border-radius: 8px !important;
  padding: 1% 2% 3% 2% !important;
}
.f-input {
  margin: 2%;
}
</style>
