<template>
  <div id="app">
    <modal v-if="showModal" @close="showModal = false">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <slot name="header">Recommended Articles</slot>
              </div>
              <div class="modal-bod">
                <slot name="body">
                   <div class="checkall">
                       <input class="checkAllButton" type="checkbox" @click="selectAll">
                       <span class="checkallSpan">Select all</span>
                   </div>
                  <b-form-group label="Individual stacked checkboxes (default)" @change="$emit('update', selected)">
                      <b-form-checkbox
                        v-for="item in msg"
                        v-model="selected"
                        :key="item"
                        :value="item"
                        name="flavour-3a"
                        checked=true
                      >
                       <div>
                           {{'Suggested papers published in AJEE: '}}<span class="inf">"{{item['Suggested papers published in AJEE']}}"</span>
                       </div>
                       <div>
                           {{'The paper published by you: '}}<span class="inf">"{{item['The paper published by you']}}"</span>
                       </div>
                       <div v-if="item['Common keywords']">
                           <div v-for="keyword in item['Common keywords']">{{'Common keywords: '}}<span class="inf">"{{keyword}}"</span>
                           </div>
                       </div>
                        <div v-if="item['Common references']">
                            <div v-for="reference in item['Common references']">{{'Common references: '}}<span class="inf">"{{reference}}"</span>
                            </div>
                       </div>

                      </b-form-checkbox>
                    </b-form-group>
                </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                  <b-button
                    variant="outline-primary"
                    class="modal-default-button-close"
                    @click="$emit('close')"
                  >Close</b-button>
                  <b-button
                    variant="outline-success"
                    class="modal-default-button"
                    @click="$emit('ok')"
                  >Confirm</b-button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </modal>
  </div>
</template>

<script>
import { BButton } from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";

export default {
  name: "selectModal",
  components: {
    BButton
  },
  props: {
    msg: Array,
    showModal: Boolean,
    selected: Array
  },

  data() {
    return {
        selectevery: false,
    }
  },
  methods: {
    layout() {
      let layoutedMsg = [];
      for (let item of this.msg) {
        item = "\n" + item;
        layoutedMsg.push(item);
      }
      console.log(layoutedMsg);
      this.msg = layoutedMsg;
    },

    selectAll: function() {
        this.selectevery = !this.selectevery
            if(this.selectevery) {
                for (let item of this.msg) {
                    this.selected.push(item);
                }
            }
            else
                this.selected = []

        },
    }
};
</script>

<style>
@import url(//db.onlinewebfonts.com/c/50e9084d51fca72d0b7b32dc11e54eab?family=IRAN);

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
textarea {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  border-radius: 8px;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 34px 30px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  width: 41%;
}
.modal-header {
  direction: ltr;
  font-family: IRAN;
  border: none;

}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
  border: none;
}
.modal-bod {
    margin: 20px 0;
    overflow: scroll;
    height: 380px;
    border: solid 0.5px;
    padding: 2% 3%;
    border-radius: 10px;
    border-color: #dad8d7;
    text-align: left
}
.modal-default-button {
  float: right;
}

.modal-footer {
  padding: 2%;
  display: flex;
  justify-content: space-around;
  border: none;

}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.inf{
    color: #22329b;
}
.checkall{
    display: inline-flex;
    width: 200px;
}
.checkAllButton{
    width: 20px!important;
    margin: 5px 1px;
}
.checkallSpan{
    width: 80px;
    color: currentcolor;
    font-weight: bold;
}
</style>
